body{
  /* background-color: #fff; */
  font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  /* color: #111; */
}

h1, h2, h3{
  color: hotpink;
}

p{
  color: rgb(231, 226, 226);
}

  